@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.woff2);
}

@font-face {
    font-family: "JetBrainsMono";
    src: url(../fonts/JB.woff2);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

li {
    list-style: none;
}

#root {
    width: 100%;
    height: 100vh;
}

#root::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    /* 根据需要调整背景的大小 */
    background-position: center;
    filter: brightness(0.5);
    /* 调整背景图片亮度 */
    z-index: -1;
    /* 确保背景图片不会遮挡内容 */
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Inter, JetBrainsMono, sans-serif;
    background-color: #000;
    color: #FFF;
}

#content-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
}

#time-section {
    display: flex;
    /* overflow: hidden; */
}

.section {
    margin: 20px 0 0 20px;
    height: auto;
    width: 20vw;
    border: 1px solid #cbcbcbb0;
    padding: 1em;
    border-radius: 8px;
    background-color: #00000022;
    backdrop-filter: blur(20px);
    transition: all 0.6s cubic-bezier(0.82, 0, 0.58, 1);
    cursor: grab;
    -webkit-user-drag: element;
}

.section.moving {
    transition: all 0.3s cubic-bezier(0.82, 0, 0.58, 1);
    opacity: 0.5;
}

.section h2 {
    font-size: 20px;
}

.section p,
.section li,
.section h3 {
    margin-top: 6px;
    font-size: 14px;
}

.subText {
    font-size: 10px;
}

#cpu-info-container,
#gpu-info-container {
    font-family: monospace;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

#time-container {
    display: flex;
    align-items: center;
}

#time-container .time {
    /* 等宽时间字体 */
    font-variant-numeric: tabular-nums;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -2px;
}

#time-container .date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#time-container .date span {
    height: 30px;
    width: 30px;
    font-weight: 300;
    font-size: 12px;
    background-color: #00000022;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time-container .date #current {
    font-weight: 500;
    border: 2px solid #cbcbcbb0;
}

#time-container .clock {
    display: flex;
    align-items: center;
}

#time-container #kanji {
    font-size: 12px;
    margin-left: .5vw;
    margin-right: .5vw;
}

/* 进度条容器样式 */
.progress-bar-container {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.2);
    border-radius: 5px;
    margin-top: 5px;
}

/* 进度条基础样式 */
.progress-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease;
}

/* 低使用率 */
.progress-bar.low {
    background-color: rgba(76, 175, 79, 0.4);
    /* 绿色 */
}

/* 中使用率 */
.progress-bar.medium {
    background-color: rgba(255, 153, 0, 0.4);
    /* 橙色 */
}

/* 高使用率 */
.progress-bar.high {
    background-color: rgba(244, 67, 54, 0.4);
    /* 红色 */
}

/* 电池信息样式 */
.battery-section {
    margin-bottom: 20px;
}

.not-detected {
    background-color: #b0b0b0;
    /* 灰色进度条 */
}

.plugged-in {
    background: linear-gradient(to right, #4caf50, #81c784);
    /* 绿色渐变 */
}

/* 低电量 */
.low {
    background-color: rgba(244, 67, 54, 0.4);
    /* 红色 */
}

/* 中电量 */
.medium {
    background-color: rgba(255, 153, 0, 0.4);
    /* 橙色 */
}

/* 高电量 */
.high {
    background-color: rgba(76, 175, 79, 0.4);
    /* 绿色 */
}

/* 频谱可视化控件样式 */
#spectrum-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* 你可以根据需要调整高度 */
    background-color: rgba(0, 0, 0, 0.1);
    /* 半透明背景 */
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spectrumCanvas {
    width: 100%;
    height: 100%;
    display: block;
}