<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Performance Monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}">
</head>

<body>
    <div id="root">
        <div id="content-left">

            <div draggable="true" class="section mt-20" id="time-section">
                <div id="time-container">
                    <h2 class="time" id="current-time"></h2>
                    <p>　</p>
                    <div class="date">
                        <span>21</span>
                        <span>22</span>
                        <span id="current">
                            23
                        </span>
                        <span>24</span>
                        <span>25</span>
                    </div>
                </div>
            </div>

            <div draggable="true" class="section" id="cpu-section">
                <h2>主板信息</h2>
                <div id="motherboard-info-container">
                    <p id="motherboard-model">型号：</p>
                </div>
            </div>

            <div draggable="true" class="section" id="cpu-section">
                <h2>CPU 信息</h2>
                <div id="cpu-info-container"></div>
                <canvas id="cpuChart" width="400" height="150"></canvas> <!-- CPU 图表 -->
            </div>

            <div draggable="true" class="section" id="memory-section">
                <h2>内存信息</h2>
                <p id="memory-usage">当前内存占用: </p>
                <p id="memory-used">已使用内存: </p>
                <canvas id="memoryChart" width="400" height="150"></canvas> <!-- 内存图表 -->
            </div>

            <div draggable="true" class="section" id="network-section">
                <h2>网络状态</h2>
                <p id="net-rx">实时上行: </p>
                <p id="net-tx">实时下行: </p>
            </div>

            <div draggable="true" class="section" id="battery-section">
                <h2>电源状态</h2>
                <div id="battery-info-container"></div>
            </div>

            <div draggable="true" class="section" id="disk-section">
                <h2>磁盘占用率</h2>
                <ul id="disk-usage"></ul>
            </div>

            <div draggable="true" class="section" id="gpu-section">
                <h2>GPU 信息
                    <br>
                    <sub class="subText mb-10">*按照硬件地址排序</sub>
                    <br>
                </h2>
                <!-- 这里将是动态插入每块 GPU 的信息 -->
                <div class="mt-10" id="gpu-info-container"></div>
            </div>
        </div>
    </div>
    </div>

    <!-- 引入js库 -->
    <script src="{{ url_for('static', filename='js/lib/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/chartjs-plugin-streaming.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/luxon.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/chartjs-adapter-luxon.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/createChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>